<div class="large-11 columns">
	<div class="large-7 columns large-centered">

<div class="signup-form">
	<fieldset>
		<legend><h4>Sign</h4></legend>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="large-12 columns">
	  		<div class="large-9 columns">
	  			<div class="login-input">
				  <%= f.text_field :username, placeholder: "Username" %>
				</div>
			</div>
			<div class="large-3 columns">
				<div class="login-input">
			 	  <%= f.select :gender, ["Male", "Female"] %>
			 	</div>  
			</div>
	  </div>
	  <div class="large-12 columns">
			<div class="large-5 columns">
				<div class="login-input">
				  <%= f.text_field :birthday, :autofocus => true ,class: "datepicker", placeholder: "Birthday"%>
				</div>
	  		</div>
	  		<div class="large-7 columns">
				<div class="login-input">
			  		<%= f.telephone_field :telephone, :autofocus => true , placeholder: "Phone Number"%>
			    </div>
			</div>
	  </div>
	  <div class="large-12 columns">
				<div class="login-input">
		 			 <%= f.email_field :email, :autofocus => true, placeholder: "Email" %>
		  		</div>
	  </div>
	  <div class="large-12 columns">
			<div class="large-6 columns">
				<div class="login-input">
			  		<%= f.password_field :password, placeholder: "Password" %>	
			  	</div>	
			</div>
			<div class="large-6 columns">
				<div class="login-input">
	  		 	 	<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
	  		  	</div>
	  		</div>
	   </div>
	  <div><%= f.submit "Sign up", class: "button tiny radius success expand box-sa ", style:"margin-bottom:0px;height:55px;margin-top:20px;font-size:22px;" %></div>
	<% end %>

	<%# render "devise/shared/links" %>
	</fieldset>
	</div>
</div>	
</div>
</div>