<div class="signup-form">
<fieldset>
	<legend><h4>Signup</h4></legend>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="large-12 columns">
  		<div class="large-9 columns">
			  <%= f.label :username %>
			  <%= f.text_field :username, :autofocus => true %>
		</div>
		<div class="large-3 columns">
			  <%= f.label :gender %>
		 	  <%= f.select :gender, ["Male", "Female"] %>
		</div>
  </div>
  <div class="large-12 columns">
		<div class="large-5 columns">
		  	  <%= f.label :birthday %>
			  <%= f.text_field :birthday, :autofocus => true ,class: "datepicker"%>
  		</div>
  		<div class="large-7 columns">
		  <%= f.label "Phone Number" %>
		  <%= f.telephone_field :telephone, :autofocus => true %>
		</div>
  </div>
  <div>
	  <%= f.label :email %>
	  <%= f.email_field :email, :autofocus => true %>
  </div>
  <div class="large-12 columns">
		<div class="large-6 columns">
		  <%= f.label :password %>
		  <%= f.password_field :password %>
		</div>
		<div class="large-6 columns">
  		  <%= f.label :password_confirmation %>
  		  <%= f.password_field :password_confirmation %>
  		</div>
   </div>

  <div><%= f.submit "Sign up", class: "button radius success expand", style:"margin-bottom:0px;" %></div>
<% end %>

<%# render "devise/shared/links" %>
</fieldset>
</div>	