
<div class="large-11 columns">
	<div class="large-7 columns large-centered">
		<div class="login-form">
		<fieldset>
			<legend><h4>Login</h4></legend>
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				  <div class="login-input">
				  <%= f.email_field :email, placeholder: "Email", :autofocus => true %></div>

				  <div class="login-input">
				  <%= f.password_field :password, placeholder: "Password"%></div>

				  <% if devise_mapping.rememberable? -%>
				    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				  <% end -%>

				  <div><%= f.submit "SUBMIT" ,class: "button tiny radius success expand box-sa", style: "background:#5FCF80;margin-top:10px;margin-bottom:0px;font-size:20px;height:55px;"%></div>
				<% end %>
		</fieldset>

			<div class="login-app">
				<p>Login With</p>
				<%= link_to '<i class="fa fa-facebook"></i> Facebook'.html_safe, user_omniauth_authorize_path(:facebook), class: "button expand radius tiny", style: "background:#3B5998;" %>
				<%= link_to '<i class="fa fa-google-plus"></i> Google'.html_safe, user_omniauth_authorize_path(:google_oauth2), class: "button expand radius tiny", style: "background:#DB4632;" %>
				<%= link_to '<i class="fa fa-twitter"></i> Twitter'.html_safe, user_omniauth_authorize_path(:twitter), class: "button expand radius tiny", style: "background:#00ACEE;" %>
			</div>
			<p>Not Have an Account <%= link_to "Sign up", new_user_registration_path %></p>
		</div>
	</div>	
</div>